version: 2.1
orbs:
  node: circleci/node@4.7
  aws-cli: circleci/aws-cli@2.0.0
  aws-eb: circleci/aws-elastic-beanstalk@2.0.1
jobs:
  api_service:
    working_directory: ~/app/udagram-api
    executor: node/default
    steps:
      - checkout:
          path: ~/app
      - node/install-packages:
          app-dir: ~/app/udagram-api
      - run:
          name: Generate Archive File
          command: |-
            npm run build
      - aws-cli/install
      - run:
          name: Build and Deploy API Service
          command: |-
            aws s3 cp ./www/Archive.zip $AWS_S3_PATH
            aws elasticbeanstalk create-application-version --application-name $APP_NAME --version-label <<pipeline.git.revision>> --source-bundle S3Bucket="$AWS_EB_ENV",S3Key="Archive.zip"
            aws elasticbeanstalk update-environment --application-name $APP_NAME --environment-name $AWS_EB_ENV --version-label <<pipeline.git.revision>>
workflows:
  deploy_app:
    jobs:
      - api_service
