version: 2.1
orbs:
  node: circleci/node@4.7
  aws-cli: circleci/aws-cli@2.0.0
jobs:
  api_service:
    working_directory: ~/app/udagram-api
    executor: node/default
    steps:
      - checkout:
          path: ~/app
      - node/install-packages:
          app-dir: ~/app/udagram-api
      - run:
          name: Generate Archive File
          command: |-
            npm run build
      - aws-cli/install
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          aws-region: AWS_REGION
      - run:
          name: Copy Source to S3 Bucket
          command: |-
            aws s3 cp ./www/Archive.zip $AWS_EB_BUCKET_PATH
      - run:
          name: Create Application
          command: |-
            aws elasticbeanstalk create-application-version --application-name $APP_NAME --version-label <<pipeline.git.revision>> --source-bundle S3Bucket="$AWS_EB_BUCKET",S3Key="Archive.zip"
      - run:
          name: Build and Deploy API Service
          command: |-
            aws elasticbeanstalk update-environment --application-name $APP_NAME --environment-name $AWS_EB_ENV --version-label <<pipeline.git.revision>>
  front_end:
    working_directory: ~/app/udagram-frontend
    executor: node/default
    steps:
      - checkout:
          path: ~/app
      - node/install-packages:
          app-dir: ~/app/udagram-frontend
      - run:
          name: Create Distrubuted/Build Source Version
          command: npm run build
      - aws-cli/install
      - run:
          name: Deploy Build WebSite
          command: aws s3 cp --recursive --acl public-read ./www $AWS_S3_BUCKET_PATH
workflows:
  deploy_app:
    jobs:
      - api_service
      - front_end
